<head>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="comsimg.png">
    <script src="router.js"></script>
  </head>
  <script src="service-worker.js">  </script>
  <script> if('serviceWorker' in navigator) {
    let registration;
  
    const registerServiceWorker = async () => {
      registration = await          navigator.serviceWorker.register('./service-worker.js');
    };
  
    registerServiceWorker();
  }</script> 
  
  <style>
        
        @media (prefers-color-scheme:dark) { 
    body {
         --font-color: #1877f2;
        --bg-color: #ddd;
  
       
      
      }
      body.light-theme {
      
  --font-color: #ddd;
        --bg-color: #222;;
  
        
      }
  .light-theme .nav-bloc:hover {
  background: #000;
  }
      .light-theme .wrapper {
        background: #333;
  height: 100vh;
  width: 75px;
  }
  .light-theme .nav-bloc svg {
  width: 25px;
  fill:white;
  transition: 0.2s ease-in-out;
  }
  
  .light-theme .nav-bloc:hover {
  fill: #50bddf;
  }
  
  .nav-bloc:hover svg {
  fill: #50bddf;
  }
      .light-theme .sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  }
  
  .light-theme .sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  
  background: #222;
  }
  .light-theme .sub-nav li a {
  color:white;
  text-decoration: none;
  }
  
  .light-theme .topnav {
  overflow: hidden;
  background-color: #2b2b2b;;
  }
  .light-theme a {
  color:white;
  position: relative;
  padding: 5px 0;
  }
  .light-theme .topnav a {
  
  
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  .light-theme p {
  color: #555;
  font-size: 20px;
  }
  .light-theme .wrapper2 {
  background: transparent;
  }
  
  .light-theme #display_image {
  width: 250px;
  background-image: url(https://media.discordapp.net/attachments/816719666008555590/848774141536239636/407027_eGwbtXdx.jpg?width=597&height=597);
  height: 255px;
  border: 3px solid black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  }
  }
    
    body {
      color: var(--font-color);
      background: var(--bg-color);
    }
  
      
           
    
  body{
   background-repeat:no-repeat;background-attachment: fixed; background-size:cover;font-family: Arial, Helvetica, sans-serif; 
  }
  
  
  
  
      </style>
  
     
  
  
  <script> 
  document.onkeydown = function(e) {
    if(event.keyCode == 123) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
       return false;
    }
  }
  
  
  document.addEventListener("touchmove", e =>{
      
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
       return false;
    }
  
  })
  </script>
  
  
  
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        
  
        
  <title>Coms online worm game</title>
  <meta name="color-scheme">
  <link rel="icon" href=" https://media.discordapp.net/attachments/811987180724813824/930237642476515409/IMG_2176.png"  >
  
    </head>
    <body class="background" oncontextmenu="return false">
      <section class="vh-100">
        <div class="container h-100">
    
          <div id="initialScreen" class="h-100">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <h1>Multiplayer Snake</h1>
                <button
                  type="submit"
                  class="btn btn-success"
                  id="newGameButton"
                >
                  Create New Game
                </button>
                <div>OR</div>
                <div class="form-group">
                  <input type="text" placeholder="Enter Game Code" id="gameCodeInput"/>
                </div>
                <button
                  type="submit"
                  class="btn btn-success"
                  id="joinGameButton"
                >
                  Join Game
                </button>
            </div>
          </div>
    
          <div id="gameScreen" class="h-100">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
    
              <h1>Your game code is: <span id="gameCodeDisplay"></span><br><br>*reload if not showing*</h1>
    
              <canvas id="canvas"></canvas>
            </div>
          </div>
    
        </div>
      </section>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    </body>
  
    <style>
      #gameScreen {
    display: none;
  }
  
  .background{
    background-image:url(https://cdn.discordapp.com/attachments/185046628732895232/204497752091000832/bg3.svg);
    background-size:50%;
  }
  
  
  
  h1{
    color:aqua;
  }
  
    </style>
  
    <script>
  
  const BG_COLOUR = '#171717';
  const SNAKE_COLOUR = 'rgba(163, 90, 0, 0.52)';
  const FOOD_COLOUR = 'rgb(119, 255, 51)';
  
  const SNAKE_COLOUR2 = 'orange';
  const socket = io('https://sleepy-island-33889.herokuapp.com/');
  
  socket.on('init', handleInit);
  socket.on('gameState', handleGameState);
  socket.on('gameOver', handleGameOver);
  socket.on('gameCode', handleGameCode);
  socket.on('unknownCode', handleUnknownCode);
  socket.on('tooManyPlayers', handleTooManyPlayers);
  
  const gameScreen = document.getElementById('gameScreen');
  const initialScreen = document.getElementById('initialScreen');
  const newGameBtn = document.getElementById('newGameButton');
  const joinGameBtn = document.getElementById('joinGameButton');
  const gameCodeInput = document.getElementById('gameCodeInput');
  const gameCodeDisplay = document.getElementById('gameCodeDisplay');
  
  newGameBtn.addEventListener('click', newGame);
  joinGameBtn.addEventListener('click', joinGame);
  
  
  function newGame() {
    socket.emit('newGame');
    init();
  }
  
  function joinGame() {
    const code = gameCodeInput.value;
    socket.emit('joinGame', code);
    init();
  }
  
  let canvas, ctx;
  let playerNumber;
  let gameActive = false;
  
  function init() {
    initialScreen.style.display = "none";
    gameScreen.style.display = "block";
  
    canvas = document.getElementById('canvas');
    ctx = canvas.getContext('2d');
  
    canvas.width = canvas.height = 600;
  
    ctx.fillStyle = BG_COLOUR;
    ctx.fillRect(0, 0, canvas.width, canvas.height);
  
    document.addEventListener('keydown', keydown);
    gameActive = true;
  }
  
  function keydown(e) {
    socket.emit('keydown', e.keyCode);
  }
  
  function paintGame(state) {
    ctx.fillStyle = BG_COLOUR;
    ctx.fillRect(0, 0, canvas.width, canvas.height);
  
    const food = state.food;
    const gridsize = state.gridsize;
    const size = canvas.width / gridsize;
  
    ctx.fillStyle = FOOD_COLOUR;
    ctx.fillRect(food.x * size, food.y * size, size, size);
  
    paintPlayer(state.players[0], size, SNAKE_COLOUR);
    paintPlayer(state.players[1], size, SNAKE_COLOUR2);
  }
  
  function paintPlayer(playerState, size, colour) {
    const snake = playerState.snake;
  
    ctx.fillStyle = colour;
    for (let cell of snake) {
      ctx.fillRect(cell.x * size, cell.y * size, size, size);
    }
  }
  
  function handleInit(number) {
    playerNumber = number;
  }
  
  function handleGameState(gameState) {
    if (!gameActive) {
      return;
    }
    gameState = JSON.parse(gameState);
    requestAnimationFrame(() => paintGame(gameState));
  }
  
  function handleGameOver(data) {
    if (!gameActive) {
      return;
    }
    data = JSON.parse(data);
  
    gameActive = false;
  
    if (data.winner === playerNumber) {
      alert('You Win!');
    } else {
      alert('You Lose :(');
    }
  }
  
  function handleGameCode(gameCode) {
    gameCodeDisplay.innerText = gameCode;
  }
  
  function handleUnknownCode() {
    reset();
    alert('Unknown Game Code')
  }
  
  function handleTooManyPlayers() {
    reset();
    alert('This game is already in progress');
  }
  
  function reset() {
    playerNumber = null;
    gameCodeInput.value = '';
    initialScreen.style.display = "block";
    gameScreen.style.display = "none";
  }
    </script>
  
    <style>@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
   
    text-align: center;
  }
  
  .input-data .display{
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .input-data .display input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    pointer-events: none;
    user-select: none;
  }
  .input-data .display span{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: grey;
    z-index: 999;
    display: none;
    cursor: pointer;
  }
  .input-data button{
    display: block;
    height: 45px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #444;
    outline: none;
    background: #1b1b1b;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .input-data button:hover{
    background: #222;
  }
        button {
          display: inline-block;
          background-color: #7b38d8;
          border-radius: 10px;
          border: 4px double #cccccc;
          color: #eeeeee;
          text-align: center;
          font-size: 28px;
          padding: 20px;
          width: 150px;
          transition: all 0.5s;
          cursor: pointer;
          margin: 5px;
         
        }
        button span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }
        button span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
        button:hover {
          background-color: #f7c2f9;
        }
        button:hover span {
          padding-right: 20px;
        }
        button:hover span:after {
          opacity: 1;
          right: 0;
        }
        
        
        
        
      </style>
  
  
  
  <style>
  
          
    .topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  }
   
  
       .wrapper {
  background: #fff;
  height: 100vh;
  width: 75px;
  }
  .nav-bloc svg {
  width: 25px;
  fill: #555;
  transition: 0.2s ease-in-out;
  }
  
  .nav-bloc:hover {
  background: #fff
  }
     .sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #ddd;
  z-index: -1;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  }
  
  .sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background: #ddd;
  }
  .sub-nav li a {
  color: #000;
  text-decoration: none;
  }
  
  .topnav {
  overflow: hidden;
  background-color: white;
  }
  a {
  color: #000;
  position: relative;
  padding: 5px 0;
  }
  .topnav a {
  
  
  color: #000; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  p {
  color: #555;
  font-size: 20px;
  }
  .wrapper2 {
  background: #ddd;
  }
  
  #display_image {
  width: 250px;
  background-image: url(https://media.discordapp.net/attachments/816719666008555590/848774141536239636/407027_eGwbtXdx.jpg?width=597&height=597);
  height: 255px;
  border: 3px solid black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    * {
  box-sizing: border-box;
  }
  
  .Center{
   margin-left: auto;
  margin-right: auto;
  }
  .openBtn {
  background: ;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
   
  }
  
  .openBtn:hover {
  background: black;
  }
  
  .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  }
  
  .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
  }
  
  .overlay .closebtn:hover {
  color: #ccc;
  }
  
  .overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  }
  
  .overlay input[type=text]:hover {
  background: white;
  }
  
  .overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #7b38d8;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }
  
  .overlay button:hover {
  background: #bbb;
  }
  * {box-sizing: border-box;}
  
  body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .topnav a:hover {
  
  color: black;
  }
  
  .topnav a.active {
  background-color: #7b38d8;
  
  
  }
  
  .topnav .search-container {
  float: right;
  }
  
  .topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
    
  }
  
  .topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }
  
  .topnav .search-container button:hover {
  background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  
  }
  
  
  
  
  button {
      display: inline-block;
      background-color: #7b38d8;
      border-radius: 10px;
      border: 4px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
     
    }
    button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    button:hover {
      background-color: #f7c2f9;
    }
    button:hover span {
      padding-right: 20px;
    }
    button:hover span:after {
      opacity: 1;
      right: 0;
    }
    
  
  
  
  
  
  #display_image {
    width: 250px;
    background-image: url('https://media.discordapp.net/attachments/816719666008555590/851991374877556773/407027_uB8vpEJT.jpg');
    height: 255px;
    border: 3px solid black;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  
  
  
  
  a{
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
  }
  a:hover{
  color: #fd4766;
  }
  a:after{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: .3s;
  bottom: 0;
  }
  a:hover:after{
  width: 100%;
  }
  
  
  #deleteImgs {
  display: none;
  color:white;
  }
  
  
  #list img {
  max-width: 300px;
  width: 250px;
  
    height: 255px;
   
    border-radius:100%;
    background-position: center;
    background-size: cover;
  
  }
  
  .side-nav {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  }
  
  
  /* To hide the sub-nav */
  .wrapper {
  background: white;
  height: 100vh;
  width: 75px;
  }
  
  .wrapper2 {
  background: #ddd
  }
  
  .three-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  }
  .dot {
  flex-shrink: 0;
  margin: 10px 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  }
  .d1 {background: crimson;}
  .d2 {background: yellow;}
  .d3 {background: lightgreen;}
  
  .nav-bloc {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f21e;
  }
  .nav-bloc:hover {
  background-color:#ddd;
  }
  .nav-bloc:hover .sub-nav {
  transform: translateX(75px);
  }
  .nav-bloc svg {
  width: 25px;
  color:#555;
  transition:  0.2s ease-in-out ;
  }
  .nav-bloc:hover  svg {
  fill: #50bddf;
  }
  .sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #ddd;
  z-index: -1;
  color: white;
  /* footer */
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  }
  .sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bbb;
  }
  .sub-nav ul {
  list-style-type: none;
  }
  .sub-nav li {
  padding: 15px 20px;
  }
  .sub-nav li:hover {
  background: rgba(160, 160, 160, 0.555);
  }
  .sub-nav li a {
  color: #000;
  text-decoration: none;
  }
  
  
  
  </style> <script>
  
  
  var imagesObject = [  ];
  
  function handleFileSelect(evt) {
  var files = evt.target.files; // FileList object
  
  // Loop through the FileList and render image files as thumbnails. var i = 0, f; f = files[i]; i++
  for (var i = 0, f; f = files[i]; i++) {
  
    // Only process image files.
    if (!f.type.match('image.*')) {
      continue;
    }
  
    var reader = new FileReader();
  
    // Closure to capture the file information.
    reader.onload = function(e) {
        displayImgData(e.target.result)
        addImage(e.target.result);
    };
  
  
    reader.readAsDataURL(f);
  }
  }
  
  function loadFromLocalStorage(){
  var images = JSON.parse(localStorage.getItem("images"))
  
  if(images && images.length > 0){
  imagesObject = images;
  
  displayNumberOfImgs();
  images.forEach(displayImgData);
  }
  }
  //not
  function addImage(imgData){
  imagesObject.push(imgData);
  displayNumberOfImgs();
  localStorage.setItem("images", JSON.stringify(imagesObject));
  }
  
  function displayImgData(imgData){
  var span = document.createElement('span');
  span.innerHTML = '<img class="thumb" src="' + imgData + '"/>';
  document.getElementById('list').insertBefore(span, null);
  }
  
  function displayNumberOfImgs(){
  if(imagesObject.length > 0){
  
  
  
  document.getElementById("deleteImgs").style.display = "inline";
  
  } else {
  document.getElementById("state").innerHTML = "";
  document.getElementById("deleteImgs").style.display = "none";
  }
  
  
  }
  
  function deleteImages(){
  imagesObject = [];
  localStorage.removeItem("images");
  displayNumberOfImgs()
  document.getElementById('list').innerHTML = "";
  }
  
  document.getElementById('files').addEventListener('change', handleFileSelect, false);
  document.getElementById('deleteImgs').addEventListener("click", deleteImages);
  loadFromLocalStorage();
  
  
  </script>
  
  
  
  
  
  
  
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  
  <style>
  
  
  body {
      --font-color: #1877f2;
      --bg-color: #ddd;
  }
    body.light-theme {
     --font-color: white;
      --bg-color: #222;;
  
     
    }
   
    @media (prefers-color-scheme:light) {
      body {
         --font-color: #1877f2;
        --bg-color: #ddd;
  
       
      
      }
      body.light-theme {
      
  --font-color: #ddd;
        --bg-color: #222;;
  
        
      }
  .light-theme .nav-bloc:hover {
  background: #000;
  }
      .light-theme .wrapper {
        background: #333;
  height: 100vh;
  width: 75px;
  }
  .light-theme .nav-bloc svg {
  width: 25px;
  fill:white;
  transition: 0.2s ease-in-out;
  }
  
  .light-theme .nav-bloc:hover {
  fill: #50bddf;
  }
  
  .nav-bloc:hover svg {
  fill: #50bddf;
  }
      .light-theme .sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  }
  
  .light-theme .sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  
  background: #222;
  }
  .light-theme .sub-nav li a {
  color:white;
  text-decoration: none;
  }
  
  .light-theme .topnav {
  overflow: hidden;
  background-color: #2b2b2b;;
  }
  .light-theme a {
  color:white;
  position: relative;
  padding: 5px 0;
  }
  .light-theme .topnav a {
  
  
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  .light-theme p {
  color: #555;
  font-size: 20px;
  }
  .light-theme .wrapper2 {
  background: #222;
  }
  
  .light-theme #display_image {
  width: 250px;
  background-image: url(https://media.discordapp.net/attachments/816719666008555590/848774141536239636/407027_eGwbtXdx.jpg?width=597&height=597);
  height: 255px;
  border: 3px solid black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  }
  }
    
    body {
      color: var(--font-color);
      background: var(--bg-color);
    }
  
  
  </style>
  
  
  <script>
  $(document).ready(function() {
  //check for localStorage, add as browser preference if missing
  if (!localStorage.getItem("mode")) {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      localStorage.setItem("mode", "dark-theme");
    } else {
      localStorage.setItem("mode", "light-theme");
    }
  }
  
  //set interface to match localStorage
  if (localStorage.getItem("mode") == "dark-theme") {
    $("body").addClass("dark-theme");
    $("body").removeClass("light-theme");
    document.getElementById("theme_toggle").checked = true;
  } else {
    $("body").removeClass("dark-theme");
    $("body").addClass("light-theme");
    document.getElementById("theme_toggle").checked = false;
  }
  
  //add toggle
  $("#theme_toggle").on("click", function() {
    if ($("body").hasClass("dark-theme")) {
      $("body").removeClass("dark-theme");
      $("body").addClass("light-theme");
      localStorage.setItem("mode", "light-theme");
    } else {
      $("body").addClass("dark-theme");
      $("body").removeClass("light-theme");
      localStorage.setItem("mode", "dark-theme");
    }
  });
  });
  </script>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
  }
  
  </script>
  <script>
  function xchat() {
         window.location.href="msg.html";
       }
       
  //https://clement-amoahs-team.adalo.com/coms?target=818468a1bfad492599706dafa106d579&params=%7B%7D
  function openForm() {
  document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
  document.getElementById("myForm").style.display = "none";
  }
  
  </script><style>button:hover {
  background-color: #f7c2f9;
  }
  .open-button {
  background-color: #555;
  color: gray;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  }
  button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
  button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  }
  button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  }
  button, select {
  text-transform: none;
  }
  button {
  overflow: visible;
  }
  button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  }
  button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  }
  button, select {
  text-transform: none;
  }
  button, input {
  overflow: visible;
  }
  button, input, select, textarea, optgroup {
  font: inherit;
  margin: 0;
  } </style>
  
  
  
  
  
  <button class="open-button" onclick="xchat()">Chat</button>
  
  <div >
  
  <h1 style="color:white">Chat</h1>
  
  
  </div>
  
  
    
    
    
  
  
  
  
  
  
  
  
  <style>
  
  a{
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
  }
  a:hover{
  color: #fd4766;
  }
  a:after{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: .3s;
  bottom: 0;
  }
  a:hover:after{
  width: 100%;
  }
  
  
  @media (max-width:730px) {
    .open-button {
      background-color: #555;
      color: gray;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 200px;
    }
  }
  
  
  
  @media (max-width:445px) {
    .open-button {
      background-color: #555;
      color: gray;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 100px;
    }
  }
  </style>
  
  
  
  <style>
  
  nav a {
      /*margin-left:40px; */
    }
  .dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  
  
  
  }
  
  .dropdown {
  position: relative;
  display: inline-block;
  margin-left:-40px;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  
  z-index: 1;
  }
  
  .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown-content a:hover {background-color: #333}
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  
  </style>
  
  
  
  <nav class="side-nav">
  <div class="wrapper">
    <div class="three-dots-container">
      <div class="dot d1"></div>
      <div class="dot d2"></div>
      <div class="dot d3"></div>
    </div>
    
    <div class="nav-bloc n-1">
   <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="alien-monster"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
        class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
      >
       <path
            
            d="M560,128H528a15.99954,15.99954,0,0,0-16,16v80H480V176a15.99954,15.99954,0,0,0-16-16H416V96h48a16.00079,16.00079,0,0,0,16-16V48a15.99954,15.99954,0,0,0-16-16H432a15.99954,15.99954,0,0,0-16,16V64H368a15.99954,15.99954,0,0,0-16,16v48H224V80a15.99954,15.99954,0,0,0-16-16H160V48a15.99954,15.99954,0,0,0-16-16H112A15.99954,15.99954,0,0,0,96,48V80a16.00079,16.00079,0,0,0,16,16h48v64H112a15.99954,15.99954,0,0,0-16,16v48H64V144a15.99954,15.99954,0,0,0-16-16H16A15.99954,15.99954,0,0,0,0,144V272a16.00079,16.00079,0,0,0,16,16H64v80a16.00079,16.00079,0,0,0,16,16h48v80a16.00079,16.00079,0,0,0,16,16h96a16.00079,16.00079,0,0,0,16-16V432a15.99954,15.99954,0,0,0-16-16H192V384H384v32H336a15.99954,15.99954,0,0,0-16,16v32a16.00079,16.00079,0,0,0,16,16h96a16.00079,16.00079,0,0,0,16-16V384h48a16.00079,16.00079,0,0,0,16-16V288h48a16.00079,16.00079,0,0,0,16-16V144A15.99954,15.99954,0,0,0,560,128ZM224,320H160V224h64Zm192,0H352V224h64Z"
            class="fa-secondary"
          ></path>
      
      </svg>
  
  
      <div class="sub-nav">
        <h2>Message Games</h2>
        <ul>
          <li>
            <a  href="gamething.html"> Game HUB</a>
          </li>
          
  
  
          <li>
            
  
            <div class="dropdown">
              <button class="dropbtn">Worm <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
              <a href="snakePc.html" > 1 player pc worm</a>
              <a href="snakemobile.html">1 player mobile worm</a>
              <a href="html.html">2 player worm</a>
              </div>
            </div>
            
            
            </li>
  
          <li>
            <a href="flappybird.html">Flappy bird</a>
          </li>
          <li>
            <a href="grafitystomper.html">Grafity stomper</a>
          </li>
        
  
          <li>
            
  
            <div class="dropdown">
              <button class="dropbtn">X's and O's <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
              <a href="onetick.html" >  1 player x and o's </a>
              <a href="TicTacToe-WebSockets-main/xando.html">2 player x and o's </a>
             
              </div>
            </div>
            
            
            </li>
         
          <li>
            
  
            <div class="dropdown">
              <button class="dropbtn">Pong <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
              <a href="pongload.html" >Pong 1 player</a>
              <a href="2playerpong.html">2 playerpong</a>
             
              </div>
            </div>
            
            
            </li>
  
           <li>
            <a href="simon.html">Copy simon</a>
          </li>
          
          <li>
            <a href="Card Game.html">Card game</a>
          </li>
  
          <li>
            <a href="connect4-main/connect4.html">4 in a row </a>
            </li>
      
        </ul>
      </div>
    </div>
  
    <div class="nav-bloc n-2">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="user-alt"
        class="svg-inline--fa fa-user-alt fa-w-16"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z"
        ></path>
      </svg>
      <div class="sub-nav">
        <h2>Connect with Friends </h2>
        <ul>
          <li>
            <a href="msg.html">Chat Part</a>
          </li>
          <li>
            <a href="code.html">HomePage</a>
          </li>
          <li>
            <a href="Meetings.html">Server </a>
          </li>
  
          <li>
            
  
            <div class="dropdown">
              <button class="dropbtn">Worm <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
              <a href="snakePc.html" > 1 player pc worm</a>
              <a href="snakemobile.html">1 player mobile worm</a>
              <a href="html.html">2 player worm</a>
              </div>
            </div>
            
            
            </li>
  
            <li>
            
  
            <div class="dropdown">
              <button class="dropbtn">Pong <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
              <a href="pongload.html" >Pong 1 player</a>
              <a href="2playerpong.html">2 playerpong</a>
             
              </div>
            </div>
            
            
            </li>
            <li>
            
  
            <div class="dropdown">
              <button class="dropbtn">X's and O's <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
              <a href="onetick.html" >  1 player x and o's </a>
              <a href="TicTacToe-WebSockets-main/xando.html">2 player x and o's </a>
             
              </div>
            </div>
            
            
            </li>
        </ul>
      </div>
    </div>
  
    <div class="nav-bloc n-3">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="space-shuttle"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 512"
        class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x"
      >
        <g class="fa-group">
          <path
           
            d="M32 416c0 35.35 21.49 64 48 64h16V352H32zm154.54-232h280.13L376 168C243 140.59 222.45 51.22 128 34.65V160h18.34a45.62 45.62 0 0 1 40.2 24zM32 96v64h64V32H80c-26.51 0-48 28.65-48 64zm114.34 256H128v125.35C222.45 460.78 243 371.41 376 344l90.67-16H186.54a45.62 45.62 0 0 1-40.2 24z"
            class="fa-secondary"
          ></path>
          <path
            d="M592.6 208.24C559.73 192.84 515.78 184 472 184H186.54a45.62 45.62 0 0 0-40.2-24H32c-23.2 0-32 10-32 24v144c0 14 8.82 24 32 24h114.34a45.62 45.62 0 0 0 40.2-24H472c43.78 0 87.73-8.84 120.6-24.24C622.28 289.84 640 272 640 256s-17.72-33.84-47.4-47.76zM488 296a8 8 0 0 1-8-8v-64a8 8 0 0 1 8-8c31.91 0 31.94 80 0 80z"
            class="fa-primary"
          ></path>
        </g>
      </svg>
      <div class="sub-nav">
        <h2>Servers</h2>
        <ul>
          <li>
            <a href="msg.html">Chat Part</a>
          </li>
          <li>
            <a href="Meetings.html">Server</a>
          </li>
          <li>
            <a href="code.html">HomePage</a>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="nav-bloc n-4">
               <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="cog"
        class="svg-inline--fa fa-cog fa-w-16"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"
        ></path>
      </svg>
          
      <div class="sub-nav">
        <h2>Settings</h2>
        <ul>
         
          <li>
            <a href="mabyedarkmode.html" >appearance </a>
          </li>
          <li>
            <a href="account.html" >PGenerator</a>
          </li>
          
          <li>
            <a href="https://ckynsdj2j115639qojn8quokgax-ai7cwbfyf-clementamoah-kyschoolsus.vercel.app/create
            "> Server link   </a>
          </li>
          <li>
            <a href="ComsDeluxe.html">Coms Deluxe   </a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  
  </nav>